$global-background-color: grey;

$active-cell-background-color: rgb(31, 31, 57);

$btn-background-color: royalblue;
$btn-color: white;

$menu-background-color: rgba(27, 29, 64, 0.6);
$menu-text-color: white;
$menu-font-size: 2rem;

$board-container-background-color: #555555;
$board-background-color: black;
$cell-border-color: #111111;

$score-background-color: #AAAAAA;
